
body {
    padding: 0px;
    margin: 0px;
    color: #1B1B1B;
}

p {
    margin: 0px;
}

/*
header
*/

.header {
    margin: 31px 40px;
}

.header-logo {
    cursor: pointer;
}

.header-nav a {
    color: #1B1B1B;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.header-nav a:hover {
    font-weight: bold;
}

.header-btn {
    color: #1B1B1B;
    background-color: white;
    border: 1px solid rgba(27, 27, 27, 0.4);
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 16px;
}

.header-btn:hover {
    font-weight: bold;
    background-color: #61A199;
    border: 1px solid rgb(97, 161, 153);
    cursor: pointer;
}

/*
main
 */

.main-aboutUs {
    margin: 80px auto;
    text-align: center;
}

h1 {
    color:  #1B1B1B;
    font-size: 64px;
    margin: 60px auto 30px;
    
}

.main-aboutUs-text {
    color: #1B1B1B;
    font-size: 24px;
    margin: 30px 258px 80px;

}

.main-contacts {
    text-align: center;
    background: #F7F9FB;
}

h2 {
    color: #1B1B1B;
    font-size: 48px;
    padding-top: 80px;
    margin: 0px;
}

.main-contacts-wrapper {
    padding-top: 43px;
    padding-bottom: 105px;
}

.main-contacts-email-text {
    color: #4F4F4F;
    font-size: 14px;
    margin-bottom: 6px;
}

.main-contacts-email-email {
    color: #000000;
    font-size: 20px;
}

.main-contacts-phone-text {
    color: #4F4F4F;
    font-size: 14px;
    margin-bottom: 6px;
}

.main-contacts-phone-phone {
    color: #000000;
    font-size: 20px;
}

.main-team {
    text-align: center;
}

.main-team-wrapper-UP {
    margin-top: 55px;
    margin-bottom: 60px;

}

.main-team-wrapper-DOWN {
    margin-bottom: 120px;
}

.team-name {
    color: #000000;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 8px;
}

.team-position {
    color: #828282;
    font-size: 14px;
}

/*
footer
*/

footer {
    background: #3F3D56;
    padding: 53px 40px;
}

.footer-copyright {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px;
}

.footer-right-social a {
    cursor: pointer;
    padding-left: 20px;
    background-repeat: no-repeat;
}

#icon-vk {
    display: inline-block;
    background-image: url("src/img/icon-vkontakte.png");
    height: 27px;
    width: 27px;
}

#icon-vk:hover {
    background-image: url("src/img/icon-vk-hover.png");
}

#icon-insta {
    display: inline-block;
    background-image: url("src/img/icon-insta.png");
    width: 27px;
    height: 27px;
}

#icon-insta:hover {
    background-image: url("src/img/icon-insta-hover.png");
}

#icon-fb {
    display: inline-block;
    background-image: url("src/img/icon-fb.png");
    width: 27px;
    height: 27px;
}

#icon-fb:hover {
    background-image: url("src/img/icon-fb-hover.png");
}