@font-face {
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-family: "Roboto Regular"; }

@font-face {
  src: url("/src/fonts/Roboto-Medium.ttf");
  font-family: "Roboto Medium"; }

@font-face {
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-family: "Roboto Bold"; }

body {
  padding: 0px;
  margin: 0px;
  color: #1B1B1B;
  font-family: "Roboto Regular"; }

p {
  margin: 0px;
  padding: 0px; }

h1 {
  font-size: 64px;
  line-height: 120%;
  font-family: "Roboto Bold";
  margin: 60px auto 30px; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 32px;
      margin: 40px auto 10px; } }

h2 {
  font-size: 48px;
  font-family: "Roboto Medium";
  line-height: 120%;
  padding-top: 80px;
  margin: 0px; }
  @media screen and (max-width: 800px) {
    h2 {
      font-size: 24px;
      padding-top: 40px; } }

@media screen and (max-width: 800px) {
  .is-desktop {
    display: none !important; } }

@media screen and (min-width: 801px) {
  .is-mobile {
    display: none !important; } }

/*
header
*/
.header {
  margin: 31px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap; }
  @media screen and (max-width: 800px) {
    .header {
      margin: 20px; } }
  .header__logo {
    cursor: pointer;
    margin-right: auto; }
  .header__nav a {
    color: #1B1B1B;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    padding-left: 30px; }
    .header__nav a:hover {
      color: #61A199; }
  .header__btn {
    background-color: #FFFFFF;
    border: 1px solid rgba(27, 27, 27, 0.4);
    margin-left: 30px;
    padding: 12px 30px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto Medium"; }
    .header__btn:hover {
      font-family: "Roboto Bold";
      background-color: #61A199;
      border: 1px solid #61a199;
      cursor: pointer; }
  .header img {
    cursor: pointer; }

/*
footer
*/
.footer {
  background: #3F3D56;
  padding: 53px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 800px) {
    .footer {
      padding: 30px 20px;
      display: block; } }
  .footer__copyright {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px;
    line-height: 19px; }
    @media screen and (max-width: 800px) {
      .footer__copyright {
        margin-bottom: 17px; } }
  .footer__right-social a {
    cursor: pointer;
    padding-left: 20px;
    background-repeat: no-repeat; }

#icon-vk {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("/src/img/icon-vkontakte.png"); }
  #icon-vk:hover {
    background-image: url("/src/img/icon-vk-hover.png"); }

#icon-insta {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("/src/img/icon-insta.png"); }
  #icon-insta:hover {
    background-image: url("/src/img/icon-insta-hover.png"); }

#icon-fb {
  display: inline-block;
  width: 27px;
  height: 27px;
  background-image: url("/src/img/icon-fb.png"); }
  #icon-fb:hover {
    background-image: url("/src/img/icon-fb-hover.png"); }

/*
main
*/
.main {
  text-align: center; }
  .main__heading {
    margin: 120px 0px 60px; }
    @media screen and (max-width: 800px) {
      .main__heading {
        margin: 60px 0px 30px; } }
    .main__heading p {
      font-size: 24px;
      line-height: 147.3%; }
      @media screen and (max-width: 800px) {
        .main__heading p {
          font-size: 16px; } }
  .main__questions {
    margin: 60px 207px 120px; }
    @media screen and (max-width: 800px) {
      .main__questions {
        margin: 30px 20px 50px; } }
    .main__questions-btn {
      background-color: #F7F7F8;
      border: 0px;
      border-radius: 6px;
      font-size: 20px;
      line-height: 147.3%;
      cursor: pointer;
      text-align: left;
      outline: none;
      padding: 19px 29px 18px 22px;
      width: 100%;
      margin: 14px 0px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 800px) {
        .main__questions-btn {
          padding: 14px 22px 14px 20px;
          margin: 15px 0px;
          font-size: 14px; } }
      .main__questions-btn:after {
        content: url("/src/img/btn-collapsible.svg");
        float: right;
        margin-left: 30px; }
      .main__questions-btn:hover {
        background-color: rgba(97, 161, 153, 0.1); }
    .main__questions-content {
      padding: 20px 0px 40px;
      text-align: left;
      margin: 20px 22px 40px;
      font-size: 20px;
      line-height: 147.3%;
      display: none;
      overflow: hidden; }
      @media screen and (max-width: 800px) {
        .main__questions-content {
          margin: 15px 20px 30px;
          font-size: 14px; } }

.active {
  color: #61A199;
  background-color: rgba(97, 161, 153, 0.15);
  font-family: "Roboto Medium"; }
  .active:after {
    content: url("/src/img/btn-collapsible-active.svg"); }
