@font-face {
    src: url('/src/fonts/Roboto-Regular.ttf');
    font-family: "Roboto Regular";
}

@font-face {
    src: url('/src/fonts/Roboto-Medium.ttf');
    font-family: "Roboto Medium";
}

@font-face {
    src: url('/src/fonts/Roboto-Bold.ttf');
    font-family: "Roboto Bold";
}