@import "variables";

@mixin breakpoint($point) {
    @if $point == small {
        @media screen and (max-width: 800px) {
            @content;
        }
    }
    @else if $point == large {
        @media screen and (min-width: 801px) {
            @content;
        }
    }
}

@mixin icon-social {
    display: inline-block;
    width: 27px;
    height: 27px;
}

@mixin contacts-text {
    color: $dark-gray;
    font-size: 14px;
    line-height: 147.3%;
    margin-bottom: 6px;
    @include breakpoint (small) {
        font-size: 12px;
        margin-bottom: 5px;
    }
}

@mixin contacts-direct {
    color: $var-black;
    font-size: 20px;
    line-height: 147.3%;
    @include breakpoint (small) {
        font-size: 14px;
    }
}