$base-black: #1B1B1B;
$var-black: #000000;
$white: #FFFFFF;
$grayish-background: #F7F9FB;
$light-gray: #828282;
$dark-gray: #4F4F4F;
$dark-purple: #3F3D56;
$dark-green: #61A199;
$light-green-01: rgba(97, 161, 153, 0.1);
$light-green-015: rgba(97, 161, 153, 0.15)
